@model Company_System.Models.Employee

@{
    ViewData["Title"] = "Create New Employee";
    var departments = ViewBag.Departments as IEnumerable<SelectListItem>;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">Create New Employee</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { area = "HR" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.Id)
                            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber)
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Salary)
                            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", type = "number", step = "0.01" })
                            @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.JoinDate)
                            @Html.TextBoxFor(m => m.JoinDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(m => m.JoinDate, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.DeptId, "Department")
                            @Html.DropDownListFor(m => m.DeptId, departments, "-- Select Department --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DeptId, "", new { @class = "text-danger" })
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-success mt-2">Create</button>
                            @Html.ActionLink("Back to List", "Index", "Employee", new { area = "HR" }, new { @class = "btn btn-secondary ml-2 mt-2" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
